<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="head-div">
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/fonts/fontawesome5-overrides.min.css}">
</div>



<!--教师侧边栏-->
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" th:fragment="teacherSidebar">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>教师端系统</span></div>
    </a>
        <hr class="sidebar-divider my-0" />
        <ul id="accordionSidebar" class="navbar-nav text-light">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/teacher/course}"><i class="fas fa-table"></i><span>课程管理</span></a>
                <a class="nav-link active" th:href="@{/teacher/profile}"><i class="fas fa-user"></i><span>个人资料</span></a>
<!--                <a class="nav-link" href="table.html"><i class="far fa-user"></i><span>学生管理</span></a>-->
<!--                <a class="nav-link" href="table.html"><i class="fa fa-folder-o"></i><span>作业管理</span></a>-->
<!--                <a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>统计图表</span></a>-->
            </li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button id="sidebarToggle" class="btn rounded-circle border-0" type="button"></button></div>
    </div>
</nav>

<!--教师顶部栏-->
<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" th:fragment="teacherTopbar">
    <div class="container-fluid"><button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" type="button"><i class="fas fa-bars"></i></button>
        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." /><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
        </form>
        <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="me-auto navbar-search w-100">
                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </div>
                    </form>
                </div>
            </li>
<!---->
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">
                    <span class="d-none d-lg-inline me-2 text-gray-600 small" th:text="${session.teacher.getName()}"></span>

<!--                    <img class="border rounded-circle img-profile" src="avatars/avatar1.jpeg" /></a>&ndash;&gt;-->
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> 个人设置</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/teacher/logout}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i> 登出</a>
                    </div>

                </div>
            </li>
        </ul>
    </div>
</nav>




<!--学生侧边栏-->
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" th:fragment="studentSidebar">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
        <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
        <div class="sidebar-brand-text mx-3"><span>学生端系统</span></div>
    </a>
        <hr class="sidebar-divider my-0" />
        <ul id="accordionSidebar" class="navbar-nav text-light">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/student/course/mine}"><i class="fas fa-table"></i><span>课程管理</span></a>
                <a class="nav-link" th:href="@{/student/profile}"><i class="fas fa-user"></i><span>个人资料</span></a>
<!--                <a class="nav-link" href="table.html"><i class="fa fa-folder-o"></i><span>作业管理</span></a>-->
<!--                <a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>统计图表</span></a></li>-->
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
            <li class="nav-item"></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button id="sidebarToggle" class="btn rounded-circle border-0" type="button"></button></div>
    </div>
</nav>

<!--学生顶部栏-->
<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" th:fragment="studentTopbar">
    <div class="container-fluid"><button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle me-3" type="button"><i class="fas fa-bars"></i></button>
        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." /><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
        </form>
        <ul class="navbar-nav flex-nowrap ms-auto">
            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                    <form class="me-auto navbar-search w-100">
                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." />
                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </div>
                    </form>
                </div>
            </li>
            <!---->
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small" th:text="${session.student.getName()}"></span>
<!--                    <img class="border rounded-circle img-profile" src="avatars/avatar1.jpeg" /></a>-->
                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                        <a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i> 个人设置</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/student/logout}"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i> 登出</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>


</html>